:root {
    --primary-color: rgb(197, 211, 231);
}

.weather {
    border: 1px solid #01010eb6;
    border-radius: 4px;
    padding: 20px;
    background: rgba(32, 14, 29, 0.589);
    font-family: 'Times New Roman', Times, serif;
    color: var(--primary-color);

}
.weather form {
    display: flex;
    justify-content: center;
} 

.btn-primary {
   background-color: var(--primary-color);
   border: 1px solid var(--primary-color);
   color: rgb(6, 6, 43);
}


.weather h1 {
    font-size: 48px;
    font-weight: 600;
    line-height: 48px;
    margin: 20px 0 0 0;
    text-shadow: -1px 1px 0 #000,
                  1px 1px 0 #000,
                 1px -1px 0 #000,
                -1px -1px 0 #000;
}

.weather p {
    font-size: 24px;
    line-height: 28px;
    margin-top: -20px;
    margin-bottom: 70px;
    text-shadow: -1px 1px 0 #000,
                  1px 1px 0 #000,
                 1px -1px 0 #000,
                -1px -1px 0 #000;
    
}
.weather canvas {
    display: inline;
    vertical-align: middle;
}
.weather .temp {
    display: inline;
    vertical-align: middle;
    padding-left:10px;
    font-size: 64px;
    font-weight: 600;
    text-shadow: -1px 1px 0 #000,
                  1px 1px 0 #000,
                 1px -1px 0 #000,
                -1px -1px 0 #000;

}
.weather .unit {
    font-size: 22px;
    position: relative;
    top: -10px;
    line-height: 1;
    margin-left: 5px;
}
.description p {
    font-size: 22px;
    text-shadow: -1px 1px 0 #000,
                  1px 1px 0 #000,
                 1px -1px 0 #000,
                -1px -1px 0 #000;
   
}


